a:active {
  text-decoration:none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  background-color: #010626;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav .side-mu .nav-item a:hover {
  color: #e93a3a;
}

.sidenav .closebtn {
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .text-13{
    font-size:13px;
 }
 .text-11{
    font-size:11px;
 }
 .text-14{
    font-size:14px;
 }
 .text-15{
    font-size:15px;
 }
 .f-ubundu{
    font-family: 'Ubuntu', sans-serif;
 }
 .bg-black{
    background-color: black;
 }
 .bg-grey{
    background-color: #e5e5e5;
 }
 .bg-darkblue{
    background-color: #0c1d39;
 }
 .bg-yellow{
    background-color: #f58d1e
 }
 .side-mu .nav-item .nav-link{
    color: black;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.side-ft{
    bottom: 0px;
    position: absolute;
    left: 74px;
}
.mt-6{
    margin-top:57px; 
}
.border-2{
    border-width:5px!important;
}
.sd{
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.2), 0px 0px 2px 0 rgba(0, 0, 0, 0.19); 
  border:0px;
  position: relative;
}
.sd:hover {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.3s ease-in-out;
  transform: scale(0.95, 0.95);

}
.img-des{
    position: absolute;
    bottom: 19px;
    left: 0;
    font-size: 18px;
    width: 100%;
    border-radius: 2px 2px 0px 0px;
    min-height: 40px;
    background-color: #001827;
    color:white;
    font-family: 'Lobster', cursive;
}
/*------category page-----*/
.cat_nav .nav-item .nav-link img{
  border: 3px solid lightslategray;
}
.cat_nav .nav-item .nav-link img:hover{
  border: 3px solid orange;
}
.cat_nav .nav-item .nav-link img:active{
  border: 3px solid orange;
}
.cat_nav .nav-item a{
  color:black;
}
.b-right{
  border-right: 2px solid lightgray;
}
.b-bottom{
  border-bottom: 2px solid lightgray;
}
.price:hover{
  color:orange;
}
.cat_nav .nav-item .active img{
  border: 3px solid orange;
}
/*-------appointment----*/
.main_nav{
  top:56px;
  flex-wrap:nowrap; 
  overflow-x:scroll;
  z-index:9999!important;
}
.main_nav::-webkit-scrollbar { 
    display: none; 
}
.main_nav li a{
  white-space: nowrap!important;
  color:black;
  background-color: white;
}
.main_nav li{
   border:1px solid lightgrey;
}
.main_nav .nav-link:hover{
   color:orange;
}
.main_nav .nav-link.active{
    color: orange;
    background-color: #f1f1f1;
    border-color: #dee2e6 #dee2e6 #fff;
  }
.search_nav .form-inline .input-group {
    width: 100%;
}
.s_nav_pills a{
  border:1px solid lightgrey;
  color:black;
  padding: 10px 1px;
  font-size: 14px;
  background-color: white
}
.s_nav_pills .nav-link.active{
    color: orange;
    background-color: #f7f7f7;
}
.s_c3_tab{
    position: fixed;
    left: 0px;
    top:100px;
    z-index: 9999!important;
    text-align: center;
}
.s_c9_tab{
    position: absolute;
    top: 100px;
    right: 0px;
    margin-bottom: 45px;
}
.list-group-item-action {
    width: 100%;
    color: #0c1d39;
    text-align: inherit;
}
.c_align{
   display: flex;
    align-items: center;
    justify-content: center;
}
.c_align:hover{
  color:orange;
}
.ser_time_tab{
  
}
/*-------appointment_time----*/
.t-col-3{
  -ms-flex: 0 0 25%;
  flex: 0 0 24%;
  max-width: 24%;
  margin: auto;
}
.t-col-3:hover{
  background-color: #b7b9ba;
  color:black;
}
.text-orange{
  color:orange;
}
.bg-ligrey{
 background-color: #b7b9ba;
}
.bg-orange{
 background-color: orange;
}
input[type=checkbox] + label {
  display: block;
  margin: 2px;
  cursor: pointer;
  padding: 2px;
}
.c_align input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:before {
  content: "\2714";
  border: 1px solid #000;
  border-radius: 2px;
  display: inline-block;
  width: 18px;
  height: 20px;
  padding-left: 3px;
  padding-bottom: 3px;
  margin-right: 2px;
  vertical-align: bottom;
  color: black;
  transition: .2s;
  font-size: 12px;
}
input[type=checkbox] + label:active:before {
  transform: scale(0);
}
input[type=checkbox]:checked + label:before {
  background-color: green;
  border-color: green;
  color: white;
}
